*{
	margin: 0px;
	padding: 0px;
}

#cabecera, #cabeceraIzquierda, #cabeceraDerecha{
	float: left;
}
#cabecera{
	height: 80px;
	width: 100%;
	margin-bottom: 5px;
}
#cabeceraDerecha, #cabeceraIzquierda{
	height: 99px;
}
#cabeceraIzquierda{
	width: 28%;
}
#cabeceraDerecha{
	width: 69%;
}
#menuRapido, #tituloOvi{
	width: 100%;
	height: 48px;
}
#menuRapido{
	padding: 5px 5px;
	text-align: right;
}
#tituloOvi{
	border: 3px solid #808080;
	padding-left: 15px;
	background: #20B2AA;
}
#Contenidos{
	text-align: center;
	float: left;
	width: 100%;
	height: 500px;
}
#columnaIzquierda, #columnaContenido{
	height: 495px;
	border: 3px solid #808080;
}
#columnaIzquierda {
	float: left;
	width: 20%;
}
#columnaContenido {
	padding-left: 15px;
	display: inline-block;
	background: #8fbc8f;
	width: 77%;
}
#bloqueMenu1, #bloqueMenu2, #bloqueMenu3, #redes{
	border: 3px solid #808080;
	float: left;
	background: #20b2aa;
	width: 100%;
}
#bloqueMenu1{
	height: 180px;
	padding-left: 20px;
}
#bloqueMenu2, #bloqueMenu3{
	height: 120px;
	padding-left: 20px;
}
#bloqueMenu2, #bloqueMenu3, #redes{
	margin-top: 3px;
}
#redes{
	height: 40px;
}
#linea{
	float: left;
	width: 100%;
	height: 3px;
	background-color: #808080;
}
nav{
   width:300px;
   margin: 5% auto;
   font: bold 14px verdana;
}
nav li{
   list-style: none;
   position:relative; /* importante, para que el submenu tome la posición correcta*/
}
nav li a{
   text-decoration:none;
   padding: 5px;
   display:block;
}
nav li.parent:hover{
   margin:-1px;
}
nav li li a{
   width:200px;
   display:block;
}
/* aquí esta lo importante!! */
nav li ul {
   width: 300px;
   margin:0;
   display:none;
   position: absolute;
   left: 60%;
   top:-1px;
}
nav li:hover ul {
   display: block;
}
#pie{
	margin-top: 3px;
	text-align: center;
	float: left;
	width: 100%;
	height: 30px;
}
#piePagina{
	float: left;
	border: 3px solid #808080;	
	height: 30px;
	width: 88%;
}
#contadorVisitas{
	float: left;
	border: 3px solid #808080;
	height: 30px;
	width: 10%;
}
